---
import Gallery from './Gallery.astro';
---
<main
  class="bg-[#000000b1] h-auto w-screen flex flex-col gap-12 items-center relative" id="history"
>
  <section class="mt-24">
    <h1 class="text-9xl  text-white font-serif">History</h1>
  </section>

  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1412–1431</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        La Francia de los Reyes y Castillos (Edad Media y Renacimiento)
      </h3>
      <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
        En el Valle del Loira, los nobles construyeron impresionantes castillos
        renacentistas (como Chambord o Chenonceau), que hoy son Patrimonio de la
        Humanidad. <br />
        El Reino de Francia nació oficialmente en el siglo IX, tras la caída del
        Imperio Carolingio (de Carlomagno) <br />
        Carlomagno (742–814) fue uno de los gobernantes más poderosos de Europa.
        Fundó escuelas y promovió el conocimiento, lo que impulsó el llamado Renacimiento
        carolingio. <br />
      </p>
      <a
        target="_blank"
        href="https://www.youtube.com/watch?v=Z6mCppI8mX8"
        class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >Learn more <svg
          class="w-3 h-3 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg></a
      >
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1643–1715</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        El Esplendor del Absolutismo y Versalles
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        En el siglo XVII, Luis XIV, conocido como El Rey Sol, gobernó durante
        más de 70 años (1643–1715), el reinado más largo de la historia europea. <br
        />
        Ordenó construir el Palacio de Versalles, símbolo del poder absoluto de la
        monarquía francesa y del lujo de la corte. <br />
        Su frase más famosa, aunque discutida, resume el absolutismo: “El Estado
        soy yo.”
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1789–1799</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        La Revolución Francesa (1789–1799)
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        En 1789, Francia vivió uno de los eventos más importantes de la historia
        mundial: la Revolución Francesa. <br />
        El pueblo se rebeló contra el poder absoluto del rey Luis XVI y la nobleza,
        exigiendo libertad, igualdad y fraternidad (liberté, égalité, fraternité).
        <br />
        El 14 de julio de 1789, se tomó la Bastilla, símbolo de la tiranía real (fecha
        que hoy es el Día Nacional de Francia 🇫🇷). <br />

        En 1793, Luis XVI y María Antonieta fueron ejecutados en la guillotina. <br
        />
        Este movimiento cambió la historia moderna, inspirando revoluciones en América
        y Europa.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1769–1821</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Napoleón Bonaparte y el Imperio Francés
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Napoleón Bonaparte (1769–1821) fue un brillante militar que tomó el
        poder en 1799 y se coronó Emperador de los Franceses en 1804. <br />
        Napoleón Bonaparte y el Imperio Francés <br />
        Estableció el Código Napoleónico, base del derecho civil moderno en muchos
        países. <br />
        Sin embargo, sus ambiciones expansionistas llevaron a guerras en toda Europa.
        <br />
        Fue derrotado en la Batalla de Waterloo en 1815 y exiliado a la isla de Santa
        Elena, donde murió en 1821.
      </p>
    </li>

    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1889</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Siglo XIX y XX: Guerras, Arte y Revolución Industrial
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        En 1889, se inauguró la Torre Eiffel en París, símbolo icónico de
        Francia y maravilla de la ingeniería. <br />
        Francia fue un centro cultural durante el siglo XIX y XX, con movimientos
        artísticos como el Impresionismo (Monet, Renoir) y el Cubismo (Picasso).
        <br />
        Durante las dos guerras mundiales, Francia sufrió invasiones y ocupaciones,
        pero también fue un bastión de resistencia. <br />
        Tras la Segunda Guerra Mundial, Francia se convirtió en una república moderna
        y miembro fundador de la Unión Europea.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1769–1821</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Napoleón Bonaparte y el Imperio Francés
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Napoleón Bonaparte (1769–1821) fue un brillante militar que tomó el
        poder en 1799 y se coronó Emperador de los Franceses en 1804. <br />
        Napoleón Bonaparte y el Imperio Francés <br />
        Estableció el Código Napoleónico, base del derecho civil moderno en muchos
        países. <br />
        Sin embargo, sus ambiciones expansionistas llevaron a guerras en toda Europa.
        <br />
        Fue derrotado en la Batalla de Waterloo en 1815 y exiliado a la isla de Santa
        Elena, donde murió en 1821.
      </p>
    </li><li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >1958</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Francia Moderna
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        En 1958, se estableció la Quinta República Francesa bajo la presidencia
        de Charles de Gaulle, marcando una era de estabilidad política. <br />
        Francia ha sido un líder en la Unión Europea, promoviendo la cooperación
        económica y política entre los países miembros. <br />
        Hoy en día, Francia es conocida por su rica cultura, gastronomía, moda y
        contribuciones a las artes y las ciencias.
      </p>
    </li>
  </ol>

  <section class="py-10" id="gallery">
    <h1 class="text-9xl text-white text-center font-serif">GALLERY</h1>

    <Gallery/>

  </section>

  <section class="py-10" id="footer">
    <h1 class="text-9xl text-white text-center font-serif">VIDEO</h1>
<iframe class="mt-10" width="1280" height="720" src="https://www.youtube.com/embed/Z6mCppI8mX8?si=CP-zd7yqFIiEUO-1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
</main>
